@use '../abstracts/variables';

body {
  font-family: 'Inter', sans-serif;
  color: variables.$color-dark-1;
  font-weight: 400;
}

.text-xs {
  font-size: 12px;
}

.text-sm {
  font-size: 14px;
}

// font-family: 'Inter', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Nunito', sans-serif;