@use '../abstracts/variables';

.text-brand {
    color: variables.$color-primary;
}

.bg-dark-1 {
    background-color: variables.$color-dark-1;
}

.h-screen {
    height: 100vh;
}

@media screen and (min-width: 992px) {
    .position-sticky-lg {
        position: sticky;
    }

    .w-lg-75 {
        width: 75%;
    }
}