.form-default {
    label {
        font-weight: 600;
        font-size: 14px;

        &.label-lg {
            font-size: 1rem;
        }
    }

    .form-control {
        border: 1.5px solid #D1D1D1;
        border-radius: 7px;
        font-weight: 500;

        &::placeholder {
            color: #D1D1D1;
        }

    }
}