@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Nunito:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
address,
strong,
i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

body {
  background-color: #f2f2f2;
}

body {
  font-family: "Inter", sans-serif;
  color: #121212;
  font-weight: 400;
}

.text-xs {
  font-size: 12px;
}

.text-sm {
  font-size: 14px;
}

.text-brand {
  color: #4C24C0;
}

.bg-dark-1 {
  background-color: #121212;
}

.h-screen {
  height: 100vh;
}

@media screen and (min-width: 992px) {
  .position-sticky-lg {
    position: -webkit-sticky;
    position: sticky;
  }
  .w-lg-75 {
    width: 75%;
  }
}
.page-navigation {
  background-color: #fff;
  border-radius: 20px;
}
@media screen and (max-width: 991px) {
  .page-navigation {
    border-radius: 15px;
  }
}
.page-navigation h2 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #121212;
}
.page-navigation h2 span {
  font-size: 20px;
  color: #D1D1D1;
}
@media screen and (max-width: 991px) {
  .page-navigation h2 span {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  .page-navigation h2 {
    font-size: 20px;
  }
}

.btn-dark {
  background-color: #121212;
  font-family: "Inter", sans-serif;
}

.btn-outline-dark {
  border-color: #121212;
  border-width: 1.5px;
}
.btn-outline-dark:hover {
  background-color: #121212;
}

.form-default label {
  font-weight: 600;
  font-size: 14px;
}
.form-default label.label-xs {
  font-size: 12px;
}
.form-default label.label-lg {
  font-size: 1rem;
}
.form-default .form-control {
  border: 1.5px solid #D1D1D1;
  border-radius: 7px;
  font-weight: 500;
}
.form-default .form-control::-moz-placeholder {
  color: #D1D1D1;
}
.form-default .form-control:-ms-input-placeholder {
  color: #D1D1D1;
}
.form-default .form-control::placeholder {
  color: #D1D1D1;
}
.form-default .form-select {
  border: 1.5px solid #D1D1D1;
  border-radius: 7px;
  font-weight: 500;
  color: #121212;
}
.form-default .radio-default {
  accent-color: #121212;
}

.eventsCard {
  background-color: #121212 !important;
}
.eventsCard .title-1 {
  font-size: 20px;
  font-weight: 700;
}
.eventsCard .title-2 {
  font-size: 18px;
  font-weight: 700;
}
.eventsCard .title-3 {
  font-size: 14px;
  font-weight: 700;
}
.eventsCard .payments {
  border-top: 1px dashed rgba(255, 255, 255, 0.25);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
}

header.position-sticky {
  z-index: 1030;
}

.navbar {
  font-family: "Nunito", sans-serif;
}
.navbar .search-box {
  width: 100%;
  max-width: 300px;
}
.navbar .search-box .form-control::-moz-placeholder {
  background-color: #F5F3FF;
  border-color: transparent;
  color: #4C24C0;
  font-weight: 500;
}
.navbar .search-box .form-control:-ms-input-placeholder {
  background-color: #F5F3FF;
  border-color: transparent;
  color: #4C24C0;
  font-weight: 500;
}
.navbar .search-box .form-control, .navbar .search-box .form-control::placeholder {
  background-color: #F5F3FF;
  border-color: transparent;
  color: #4C24C0;
  font-weight: 500;
}
.side-nav {
  width: 250px;
  overflow-y: auto;
  transition: all 0.2s linear;
  flex-shrink: 0;
}
@media screen and (max-width: 991px) {
  .side-nav {
    position: fixed !important;
    right: 100%;
    top: 60px !important;
    transition: all 0.2s linear;
    z-index: 999;
  }
}
.side-nav ul li a {
  border-radius: 15px 0px 0px 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  display: block;
  transition: all 0.2s linear;
}
.side-nav ul li a img {
  margin-right: 15px;
}
.side-nav ul li a.active {
  background: linear-gradient(273.78deg, #3F02A3 8.84%, #624DE3 71.09%, #725ED0 102.21%);
  color: white;
}
.side-nav ul li a:hover {
  color: white;
}

.dashboard .bookings-widget {
  background-color: #121212;
  border-radius: 15px;
  color: #fff;
  font-family: "Nunito", sans-serif;
}
.dashboard .bookings-widget .booking-widget-header .left {
  font-weight: 800;
  font-size: 1.25rem;
}
.dashboard .bookings-widget .booking-widget-header .right {
  font-weight: 700;
  font-size: 0.5rem;
}
.dashboard .bookings-widget .booking-widget-header .right .text-green {
  font-size: 0.75rem;
  color: #70CF97;
  padding-inline: 5px;
}
.dashboard .bookings-widget .booking-widget-header .right i {
  width: 15px;
  height: 15px;
  background-color: #70CF97;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #121212;
  font-size: 0.75rem;
  transform: rotate(45deg);
}
.dashboard .bookings-widget .bookings-widget-slider {
  padding: 20px 0 40px 0;
}
.dashboard .bookings-widget .bookings-widget-slider .swiper-slide h2 {
  font-size: 3.5rem;
  font-weight: 800;
}
.dashboard .bookings-widget .bookings-widget-slider .swiper-slide p {
  font-weight: 700;
}
.dashboard .bookings-widget .bookings-widget-slider .swiper-pagination-bullet {
  width: 20px;
  height: 3.5px;
  border-radius: 3.5px;
  background-color: #B3B3B3;
}
.dashboard .bookings-widget .bookings-widget-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 25px;
  height: 5;
}
.dashboard .revenue-widget {
  background-color: #fff;
  border-radius: 15px;
  color: #121212;
  font-family: "Nunito", sans-serif;
}
.dashboard .revenue-widget .revenue-widget-header h3 {
  font-weight: 800;
  font-size: 1.25rem;
}
.dashboard .revenue-widget .revenue-widget-header h3 img {
  width: 25px;
  margin-top: -5px;
}
.dashboard .revenue-widget .revenue-widget-slider {
  padding: 20px 0 40px 0;
}
.dashboard .revenue-widget .revenue-widget-slider .swiper-slide h2 {
  font-size: 3.5rem;
  font-weight: 800;
}
.dashboard .revenue-widget .revenue-widget-slider .swiper-slide p {
  font-weight: 700;
}
.dashboard .revenue-widget .revenue-widget-slider .swiper-pagination-bullet {
  width: 20px;
  height: 3.5px;
  border-radius: 3.5px;
  background-color: #B3B3B3;
}
.dashboard .revenue-widget .revenue-widget-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #121212;
  width: 25px;
  height: 5;
}
.dashboard .next-appointment-widget {
  background-color: #fff;
  border-radius: 15px;
  color: #121212;
  font-family: "Nunito", sans-serif;
}
.dashboard .next-appointment-widget .title {
  font-weight: 800;
  font-size: 1.5rem;
}
.dashboard .next-appointment-widget ul {
  padding-top: 40px;
  padding-bottom: 40px;
}
.dashboard .next-appointment-widget ul li {
  font-weight: 800;
  font-size: 1.25rem;
  padding: 7px 0;
  color: #333;
}
.dashboard .hours-widget {
  background-color: #fff;
  border-radius: 15px;
  color: #121212;
}
.dashboard .hours-widget .hours-widget-header .title {
  font-weight: 700;
  font-size: 1.25rem;
  color: #121212;
}
.dashboard .hours-widget .hours-widget-header .right {
  font-weight: 700;
  font-size: 1rem;
  color: #4C24C0;
}
.dashboard .hours-widget .hours-widge-body h3 {
  font-weight: 700;
  font-size: 2rem;
  color: #4C24C0;
}
.dashboard .hours-widget .hours-widge-body h3 sub {
  font-size: 1.25rem;
  color: #D8D8D8;
  bottom: 0;
}
.dashboard .hours-widget .hours-widge-body .progress {
  border-radius: 25px;
  background-color: #D8D8D8;
  overflow: visible;
}
.dashboard .hours-widget .hours-widge-body .progress .progress-bar {
  overflow: visible;
  border-radius: 25px;
  background-color: #4C24C0;
  text-align: right;
}
.dashboard .hours-widget .hours-widge-body .progress .progress-bar span {
  color: #121212;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin-top: -40px;
}
.dashboard .hours-widget .hours-widge-body p {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #121212;
}
.dashboard .calerder-quick-view .heading {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #121212;
  display: inline-block;
  background-color: #fff;
  margin-bottom: 0;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  padding: 0.5rem 1.5rem;
}
.dashboard .calerder-quick-view .heading span {
  font-size: 72%;
  opacity: 0.4;
}
.dashboard .vanilla-calendar {
  border-top-left-radius: 0;
}
.dashboard .vanilla-calendar-day__btn {
  font-weight: 500;
  font-size: 1rem;
  min-height: 2.5rem;
}
.dashboard .vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_intermediate {
  background-color: #121212;
  --tw-bg-opacity: 1;
  border-radius: 0.5rem;
}
.dashboard .vanilla-calendar-day_selected-first .vanilla-calendar-day__btn_selected {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.dashboard .vanilla-calendar-day_selected-last .vanilla-calendar-day__btn_selected {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.dashboard .vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_intermediate,
.dashboard .vanilla-calendar-day__btn_selected.vanilla-calendar-day__btn_intermediate:hover {
  background-color: #121212;
}
.dashboard .vanilla-calendar-header__content {
  flex-grow: 0;
}
.dashboard .vanilla-calendar-header {
  justify-content: center;
}
.dashboard .vanilla-calendar-arrow {
  background-color: transparent;
  margin: 0 30px;
}
.dashboard .vanilla-calendar-day {
  width: 90%;
}
@media screen and (min-width: 768px) {
  .dashboard .vanilla-calendar-day {
    width: 50%;
  }
}

.service .service-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}
@media screen and (max-width: 991px) {
  .service .service-card {
    border-radius: 15px;
    padding: 15px;
  }
}
.service .service-card .all-services .accordion-item {
  border-width: 2px;
  border-color: rgba(209, 209, 209, 0.7);
}
.service .service-card .all-services .accordion-item:first-child {
  border-top: 2px solid rgba(209, 209, 209, 0.7);
}
.service .service-card .all-services .accordion-item:last-child {
  border-bottom: 2px solid rgba(209, 209, 209, 0.7);
}
.service .service-card .all-services .accordion-item .accordion-button {
  font-weight: 700;
  font-size: 20px;
  color: #121212;
}
.service .service-card .all-services .accordion-item .accordion-button:focus {
  box-shadow: none;
}
.service .service-card .all-services .accordion-item .accordion-button::after {
  transform: rotate(-90deg);
}
.service .service-card .all-services .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: none;
  background-color: #fff;
}
.service .service-card .all-services .accordion-item .accordion-button:not(.collapsed)::after {
  transform: rotate(0deg);
}
.service .service-item .no-image-text {
  padding: 15% 0;
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
.service .service-item .serivce-title {
  font-size: 12px;
  font-weight: 700;
  color: #333;
  margin-bottom: 0px;
}
.service .service-item .service-price {
  font-size: 10px;
  font-weight: 700;
  color: #333;
  margin-bottom: 3px;
  margin-top: 3px;
}
.service .service-item .service-duration {
  font-size: 10px;
  font-weight: 700;
  color: #7353DD;
}
.service .service-item .dropdown {
  z-index: 999;
}
.service .add-new-service {
  height: 100%;
  border: 1px dashed rgba(18, 18, 18, 0.5);
  background-color: rgba(209, 209, 209, 0.2);
  display: grid;
  place-items: center;
  font-weight: 700;
  font-size: 18px;
  padding: 50px 0;
}
.service .add-new-service i {
  color: #fff;
  background-color: #121212;
  border-radius: 7px;
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  margin: auto;
}

.new-service .steps-form .steps-form-header {
  border-bottom: 4px solid #F2F2F2;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.new-service .steps-form .steps-form-header input[type=radio] {
  width: 40px;
  height: 40px;
  accent-color: #4C24C0;
  margin-right: 10px;
}
.new-service .steps-form .steps-form-header h3 {
  font-size: 18px;
  font-weight: 700;
  color: #121212;
  margin-bottom: 0;
}
.new-service .steps-form .steps-form-header p {
  font-size: 12px;
  font-weight: 500;
  color: #D1D1D1;
  margin-bottom: 0;
}

.availability .accordion-item {
  margin-bottom: 20px;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
}
.availability .accordion-item .accordion-button {
  border-radius: 10px;
  border-color: transparent;
  background-color: #F4F4F4;
  font-size: 20px;
  font-weight: 700;
  color: #121212;
  padding: 20px;
  box-shadow: none;
}
.availability .accordion-item .accordion-button::after {
  transform: rotate(-90deg);
}
.availability .accordion-item .accordion-button:not(.collapsed) {
  background-color: #fff;
}
.availability .accordion-item .accordion-button:not(.collapsed)::after {
  transform: rotate(0deg);
}
.availability .accordion-item .accordion-body {
  padding-top: 0;
}

.add-ons {
  padding-bottom: 60px;
}
.add-ons .table input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #121212;
  width: 20px;
  height: 20px;
  border: 1.5px solid #121212;
  border-radius: 6px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.add-ons .table input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #121212;
  transform-origin: bottom left;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.add-ons .table input[type=checkbox]:checked::before {
  transform: scale(1);
}
.add-ons .table td {
  font-weight: 500;
}
.add-ons .active > .page-link,
.add-ons .page-link.active {
  background-color: #121212;
  border-color: #121212;
}

.fullcalendar .fc .fc-col-header-cell-cushion,
.fullcalendar .fc-event-time,
.fullcalendar .fc-event-title {
  color: #4C24C0;
}
.fullcalendar .fc .fc-daygrid-day-number {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: rgba(51, 51, 51, 0.7);
  font-weight: 700;
}
.fullcalendar .fc-v-event,
.fullcalendar .fc-h-event {
  background-color: rgba(76, 36, 192, 0.2);
  border-color: rgba(76, 36, 192, 0.1);
}

/*=== abstracts css start === */
/*===// end of abstracts css === */
/*=== base css start === */
/*===// end of base css === */
/*=== components css start === */
/*===// end of components css === */
/*=== layout css start === */
/*===// end of layout css === */
/*=== pages start === */
/*===// end of pages  === *//*# sourceMappingURL=style.css.map */